<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
     <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full h-full bg-zinc-900 text-white p-5">
      <div class="container  mt-10 bg-zinc-800 
      rounded-xl px-5 py-2
      w-[80%] h-[80vh] m-auto
      ">
      <h1 class="text-center text-5xl font-black">Login and Signup using bcrypt</h1>

      <div class=" w-full h-full mt-5 flex justify-center items-center">
        <a  class=" bg-gray-400 rounded-xl px-5 py-2 text-blue-600 hover:text-blue-700 text-3xl" href="/signup">Go to Signup</a>
        <span class="mx-5">|</span>
        <a  class=" bg-gray-400 rounded-xl px-5 py-2 text-blue-600 hover:text-blue-700 text-3xl"  href="/login">Go to Login</a>
       
      </div>
    </div>
    
    </div>

</body>
</html>