<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="">
        <link rel="stylesheet" href="/stylesheets/style.css">
     <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="main w-full h-full bg-zinc-900 text-white p-5">
    <h1 class="text-center text-5xl font-black">  Cookie Viewer </h1>
<div class="container w-[80%] h-[50vh] bg-zinc-800  m-auto mt-10 rounded-xl px-5 py-2 flex justify-center items-center gap-5 ">
   <a  class=" bg-blue-500 px-5 py-2 rounded-xl hover:bg-blue-600" href="/setcookie">Set Cookies</a> 
  <a class=" bg-blue-500 px-5 py-2 rounded-xl hover:bg-blue-600" href="/show">Show Avaliable cookies</a>
</div>
  </div>
</body>
</html>